<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Order Details</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12 nopadding border">
					<ul>
						<a href="order_form"><li>Place Order</li></a>
						<a href="customer_orders"><li>Orders</li></a>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>Order</th>
								<th>Locker</th>
								<th>Quantity</th>
								<th>Status</th>
								<th>Remark</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{name}}</td>
							{% for item in data %}
								<td>{{item[2]}}</td>
								<td>{{item[3]}}</td>
								<td>{{item[4]}}</td>
								<td>{{item[5]}}</td>
								<td>
									{% if item[4] == 2 %}
										<form class="button" action="open_locker" method="POST">
											<button type="submit" name="pup" value="{{item[0]}}">Pick Up</button>
										</form>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>